<%- include ('header') -%>
<body>
    <div class="container">
        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <h1>SneakerSite</h1>
            </div>
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form method = "POST">
                <div class="mb-2">
                    <label for="usr" class="form-label">Felhasználónév</label>
                    <input type="text" class="form-control text-center" placeholder="Felhasználónév" id="usr" name="username">
                </div>
                <div class="mb-2">
                    <label for="pwd" class="form-label">Jelszó</label>
                    <input type="password" class="form-control text-center" placeholder="Jelszó" id="pwd" name="jelszo">
                </div>
                <div class="mb-1 text-center">
                    <input type=submit class="btn btn-primary" value="Belépés"/>
                    <a href="/reg" class="btn btn-success">Regisztráció</a>
                </div>
                <div class="text-center">
                    <a href="/sendmepw" class="btn btn-link">Elfelejtett jelszó</a>
                </div>
            </form>
        </div>
    </div>
<%- include ('footer') -%>