<%- include ('header') -%>
<body>
    <div class="container">
        <div class="col-md-4 offset-md-4">
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form method="POST">
                <div class="text-center h1">Regisztráció</div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Vezetéknév" name="vezeteknev">
                    </div>
                    <div class="col mb-2">
                        <input type="text" class="form-control" placeholder="Keresztnév" name="keresztnev">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Felhasználónév" name="felhasznalonev">
                    </div>
                    <div class="mb-2">
                        <input type="date" class="form-control" placeholder="Születési dátum" name="datum">
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control" placeholder="Jelszó" name="jelszo">
                    </div>
                    <div class="mb-1 text-center">
                        <input type=submit class="btn btn-primary" value="Regisztrálás"/>
                        <a href="/login" class="btn btn-success">Már van fiókja?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include ('footer') -%>