<%- include ('header') -%>
<body>
    <div class="container">
        <div class="col-md-4 offset-md-4">
            <form method="POST">
                <div class="text-center h1">SneakerSite</div>
                <div class="mb-2">
                    <label class="form-label">Adja meg a felhasználónevét!</label>
                    <input type="text" class="form-control text-center" placeholder="Felhasználónév" name="username">
                </div>
                <div class="mb-1 text-center">
                    <input type=submit class="btn btn-primary" value="Lekérdezés"/>
                        <a href="/login" class="btn btn-link">Vissza</a>
                </div>
            </form>
        </div>
    </div>
<%- include ('footer') -%>